/*
 * Globals
 * Login Cover style
 */
body.cover {
	height: 100%;
	padding-top: 53px;
	margin-top: 0;
	background-color: $dark-color;
	color: $white;
	text-align: center;
	text-shadow: 0 1px 3px rgba(0,0,0,.5);

	nav { border-bottom: none; }

	a, a:focus, a:hover { color: $white; }

	.btn-default, .btn-default:hover, .btn-default:focus {
		background-color: $white;
		border: 1px solid $white;
		color: $dark-color;
		text-shadow: none;
	}

	.site-wrapper {
		display: table;
		width: 100%;
		height: 100%;
		min-height: 100%;
		box-shadow: inset 0 0 100px rgba(0,0,0,.5);

		.site-wrapper-inner	{

			position: relative;
			top: -58px;

			display: table-cell;
			vertical-align: middle;

			.cover-container	{
				margin-right: auto;
				margin-left: auto;

				.inner { padding: 30px; }
			}
		}

		.cover-body	{
			padding: 0 20px;

			.btn-lg	{
				padding: 10px 20px;
				font-weight: bold;
			}

			iframe.login	{
				width: 500px; height: 329px; background-color: $dark-color; border: 0;
			}
		}

		.mastfoot	{
			position: fixed; bottom: 0;
			color: rgba(255,255,255,.5);
		}

		.mastfoot, .cover-container	{ width: 720px; }
	}
}
