/*
 *	Bluescreen
 */
#bluescreen {
	position: fixed;
	left: 0; right: 0; top: 0; bottom: 0;
	z-index: 999;
	background: #0dccdd;
	
	h3	 {
		width: 100%;
		margin-top: 220px;
		margin-bottom: 40px;
		text-align: center;
		font-weight: 300;
		font-size: 32px;
		color: white;
	}
	
	h1	{
		width: 100%;
		margin: -10px 0 0;
		text-align: center;
		font-size: 142px;
		color: white;
	}
	
	img	{
		display: block;
		margin: 100px auto 0;
	}
}


/*
 *	Global
 *	Overrides
 */
body.dashboard {
	padding-top: 60px;

	.jumbotron { background-color: $light-grey; }

	.btn.addmodel { font-size: 20px; }

	// Pages
	// Teamlist
	.teamlist {

		& > div	{
			text-align: center;
			min-height: 240px;
		}

		.thumbnail-round	{
			padding: 4px;
			width: 148px;
			height: 148px;
			overflow: hidden;
			border-radius: 200px;
			margin: 0 auto;

			img	{
				width: 100%; border-radius: 200px;
			}
		}

		icons a	{
			padding: 2px;
			font-size: 1.25em;
			color: $light-color;

			&:hover	{ color: $dark-color; }
		}
	}

	.iframe-panel iframe	{
		width: 100%; border: 0; overflow: hidden;
	}
}


